In [1]:
from functions import *
from pandas import read_csv

In [2]:
df=read_csv(r"C:\Users\AshishTSusikaran\Desktop\Neuberg AP\Files\New.csv")

In [3]:
output=Concatenation(TrueOutStanding(Reconcile(df,'Amount in Local Currency','Account'),'Amount in Local Currency'))

In [6]:
output.to_csv('output.csv')

In [5]:
output

,Account,Document Number,Business place,Document Type,Baseline Payment Dte,Posting Date,Document Date,Special G/L Ind.,Business Area,Reference,Amount in Local Currency,Local Currency,Text,Clearing Document,Unnamed: 14,Unnamed: 15,10100232,CumSum,True Outstanding
0,10100232.0,1.000101e+09,33JL,AB,45291,45291,45291,NaN,5050.0,NaN,57500.0,INR,Cleared till Dec 23,NaN,NaN,NaN,10100234.0,57500.0,57500.0
1,10100232.0,2.000002e+09,33JL,DR,45377,45377,45377,NaN,NaN,B-LAB-24-14939,6500.0,INR,Rama Krishna G - MR NO 37645 - AOI Hospital,NaN,NaN,NaN,10100235.0,64000.0,6500.0
2,10100232.0,2.000002e+09,33JL,DR,45377,45377,45377,NaN,NaN,B-LAB-24-14940,6500.0,INR,Indra G - MR NO 37646 - AOI Hospital,NaN,NaN,NaN,10100237.0,70500.0,6500.0
3,10100232.0,2.000002e+09,33JL,DR,45380,45380,45380,NaN,NaN,B-LAB-24-14960,6500.0,INR,Charan K - MR NO 37691 - AOI Hospital,NaN,NaN,NaN,10100238.0,77000.0,6500.0
4,10100232.0,2.000002e+09,33JL,DR,45380,45380,45380,NaN,NaN,B-LAB-24-14961,6500.0,INR,Buji K - MR NO 37692 - AOI Hospital,NaN,NaN,NaN,10100239.0,83500.0,6500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,20304924.0,2.000002e+09,33JL,DR,45382,45382,45382,NaN,NaN,LAB-24-10001601,8000.0,INR,NaN,NaN,NaN,NaN,NaN,33000.0,8000.0
0,20306512.0,2.000001e+09,33JL,DR,45216,45216,45216,NaN,NaN,B-LAB-23-14231,7500.0,INR,Sudarshan GK - MR NO 34072 - Jayadeva Hospital,NaN,NaN,NaN,NaN,7500.0,7500.0
1,20306512.0,2.000001e+09,33JL,DR,45216,45216,45216,NaN,NaN,B-LAB-23-14232,7500.0,INR,Vasanth Kumar SN - MR NO 34073 - Jayadeva Hosp,NaN,NaN,NaN,NaN,15000.0,7500.0
2,20306512.0,2.000001e+09,33JL,DR,45216,45216,45216,NaN,NaN,B-LAB-23-14235,7500.0,INR,Theju Kumar SN - MR NO 34076 - Jayadeva Hospital,NaN,NaN,NaN,NaN,22500.0,7500.0
3,20306512.0,2.000001e+09,33JL,DR,45219,45219,45219,NaN,NaN,B-LAB-23-14253,7500.0,INR,Ranjitha Raj - MR NO 34155 - Jayadeva Hospital,NaN,NaN,NaN,NaN,30000.0,7500.0